html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #191765;
  background-image: url(sprites/Ellipse18.svg), url(sprites/Ellipse19.svg), url(sprites/Ellipse20.png), url(sprites/21.png), url(sprites/Ellipse21.svg), url(sprites/Ellipse22.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 40px, right 550px, left 1100px, right 1900px, left 2866px, right 3535px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

#wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#section-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#section-1 #nav-bar:not(.hidden) {
  display: flex;
  justify-content: space-between;
}

#section-1 header {
  align-self: center;
}

.header-text {
  color: #c8c8d4;
  font-size: 20px;
  margin-bottom: 33px;
  align-self: center;
  font-weight: 400;
  line-height: 28px;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #7c73fc;
}

.title-2 {
  font-weight: 500;
  font-size: 32px;
  color: #edecff;
  margin-bottom: 40px;
}

.text {
  color: #c8c8d4;
  font-size: 20px;
  font-weight: 400;
}

#section-2 {
  display: flex;
  justify-content: center;
}

#language-t {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

#language-l {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

#frameworks-t {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

#frameworks-l {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

#skills-t {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

#skills-l {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

.list-title {
  align-self: center;
  color: #9490ff;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}

.list-content {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #f5f5ff;
}

#section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin: 20px;
  margin-top: 30px;
}

#section-3 div {
  display: flex;
  color: #a2a3ae;
  font-size: 20px;
  font-weight: 500;
}

#section-3 div img {
  height: 21px;
  width: 18px;
  align-self: center;
  margin-right: 10px;
  margin-left: 10px;
}

#section-3 h2:not(.title) {
  align-self: flex-start;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

/* Section 4 ---- Work posts */
.post {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 48px;
}

.post > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
  list-style: none;
  padding: 0%;
}

.post > ul li {
  background-image: url(sprites/Rectangle72.png);
  background-repeat: no-repeat;
  background-position: right;
  background-origin: padding-box;
  padding-right: 10px;
  height: 30px;
  margin: 10px 10px;
}

.post > ul li:nth-last-child(1) {
  background-image: none;
}

.post button {
  align-self: flex-start;
  height: 50px;
  width: 91px;
  color: #edecff;
  background-color: #7d73fc;
  font-size: 12px;
  font-family: inherit;
  border: none;
  margin-top: 24px;
  line-height: 24px;
}

.buton-effects:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.buton-effects:active {
  background-color: #5e42d7;
}

.buton-effects:disabled {
  background-color: #2a2b33;
}

#section-2 ul {
  list-style-type: none;
  padding-left: 0%;
}

#section-2 > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 1fr 15% 1fr;
  flex-grow: 1;
  margin: 37px 44px;
  margin-bottom: 50px;
}

#section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-5 p {
  text-align: center;
  margin: auto 24px 40px 24px;
  font-family: 'Inter', sans-serif;
  line-height: 24px;
}

.contact-form-t {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  margin-top: 120px;
  color: #9390ff;
  margin-bottom: 24px;
}

.input-box {
  width: 327px;
  height: 48px;
  margin-bottom: 24px;
  color: #191765;
  font-size: 15px;
}

.textarea {
  height: 148px;
}

.buttons {
  height: 50px;
  width: 91px;
  color: #edecff;
  background-color: #7d73fc;
  font-size: 12px;
  font-family: inherit;
  border: none;
  margin-top: 24px;
  margin-bottom: 70px;
  line-height: 24px;
  align-self: center;
}

.form input::placeholder {
  font-family: 'Inter', sans-serif;
  margin: 15px;
}

.form textarea::placeholder {
  font-family: 'Inter', sans-serif;
  margin: 12px;
}

#section-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-5 + .img {
  margin-bottom: 25px;
  width: 100vw;
}

#section-6 nav {
  margin-bottom: 0%;
}

.style-menu > div a {
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 28px;
}

#section-6 a {
  color: white;
  text-decoration: none;
}

.vector-img {
  height: 1px;
}

.label {
  display: flex;
  align-self: center;
}

.menu-btn {
  border-style: none;
  background: none;
}

.menu-flex {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.margin-left {
  margin-left: 200px;
}

/* Popup Window styles */
.blur-bg {
  border-style: solid;
  border-color: rgba(255, 255, 255);
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.16);
}

.positionQBtn {
  order: 0;
  width: 14px;
  height: 14px;
  align-self: flex-end;
  margin-right: 14px;
  margin-top: 13px;
}

.headerMobile {
  order: 1;
  margin: 0 0 24px 0;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.articleStyle {
  margin: 24px;
  padding: 0%;
}

.p-style {
  order: 3;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.deco {
  background-image: url(sprites/Rectangle72.png), url(sprites/Rectangle72.png);
  background-repeat: no-repeat;
  background-position: right, left;
  background-origin: padding-box;
  padding-right: 10px;
  height: 30px;
  order: 4;
  margin: 24px 30px;
}

.link1 {
  order: 6;
  align-self: center;
  text-decoration: none;
  font-size: 12px;
}

.link2 {
  order: 7;
  align-self: center;
  text-decoration: none;
  font-size: 12px;
}

.but {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dov {
  order: 8;
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 302px;
}

body label {
  display: inline;
}

@media screen and (max-width: 768px) {
  #section-3 div:not(#work-section),
  .desktop-v {
    display: none;
  }

  body label {
    display: none;
  }
}
